* {
    /* Se comenta para añadir una duente de consola */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
    color: rgb(26, 255, 0);
    font-size: 30px;
}

h1, h2, article {
    text-align: center;
}

main img {
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
    border-radius: 100%;
}

article {
    margin-top: 30px;
}

article .article_img {
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
    border-radius: 100%;
}

a {
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration-color: none;
}

.nav-bar {
    margin-bottom: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.nav-bar ul, .experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
}

.nav-bar ul li a:hover {
    color: black;
    background-color: white;

}
