<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia</title>
    <link rel="shortcut icon" href="../assets/icons/code.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <nav class="nav-bar">
      <ul class="men-lis" type="none">
        <li><a href="./sobre-mi.html">Sobre Mi</a></li>
        <li><a href="./proyectos.html">Proyectos</a></li>
        <li><a href="./experiencia.html">Experiencia</a></li>
        <li><a href="./referencias.html">Referencias</a></li>
        <li><a href="./contactos.html">Contactos</a></li>
      </ul>
    </nav>

    <h1>Experiencia</h1>

    <p>
        <a href="../index.html">Volver al inicio</a>
    </p>
</body>
</html>